<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.Ejoin">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ejoin">
        <activity
            android:name=".Activities.View.LoginActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <activity
            android:name=".Activities.View.RecuperarPassword"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.View.AddEvent"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.PasarelaPagoJava"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.FilterActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activities.View.Chat.ChatActivity"
            android:exported="true"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.Ejoin.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.View.Perfil"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.View.DatosEventos"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.View.Register"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activities.View.EventosMain.MainActivity"
            android:exported="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>